.navbar-default {
	background-color: #feeade;
	border-color: #feeade;
}
.navbar-default .navbar-text {
	color: #646364;
}
.navbar-default .navbar-nav > li > a {
	color: #646364;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #0000ad;
}
.activeItem {
    color: #0000ad;
    border-bottom: 5px solid #0000ad;
}
.navbar-default .navbar-nav > .active{
    background: #feeade;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #feeade;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #0000ad;
}
.navbar-default .navbar-toggle {
	border-color: #feeade;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #0000ad;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #646364;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #feeade;
}
.navbar-default .navbar-link {
	color: #646364;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #0000ad !important;
}
.btn-primary:hover {
    font-weight: 600;
    color: #0000ad;
    background-color: #ffffff !important;
}

.nav-pills > li > a {
    color: #646364;
    background-color: #feeade;
    border-radius: 0;
}
.nav-pills > li > a:hover {
    color: #0000ad;
    background-color: #feeade;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #0000ad;
}

.flex-container-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.flex-container-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.responsive-image-main {
    width: 600px;
    max-width: 100%;
    height: auto;
}
.responsive-image-speakers {
    width: 400px;
    max-width: 100%;
    height: auto;
}
.equal {
  display: flex;
  flex-wrap: wrap;
}

.scheduleLeftItems {
    color: #0000ad;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scheduleRightItems {
    color: #646364;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alternate > .scheduleLeftItems,
.alternate > .scheduleRightItems {
    background-color: #f9f9f9;
}

.round {
    border-radius: 50%;
}
.teamMemName {
    color: #0000ad; 
    font-size: 20px; 
    margin: 0;
}

#facebook > a {
    color: #646364
}
#facebook:hover {
    color: #0000ad;
}
#facebook > a:hover {
    color: #0000ad;
    text-decoration: none;
}

#mail > a {
    color: #646364
}
#mail:hover {
    color: #0000ad;
}
#mail > a:hover {
    color: #0000ad;
    text-decoration: none;
}

#address:hover {
    color: #0000ad;
}

#phone:hover {
    color: #0000ad;
}